.wrapper {
    display: flex;
    padding: 10px 0;
    font-size: 1.15rem;
}

.avatar {
    height: 40px;
    width: 40px;

    border-radius: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1.5px solid transparent;
    margin: 0 10px;
    object-fit: cover;
}

.post-date {
    color: var(--gray);
    margin-left: 3px;
}
.author {
    &:hover {
        text-decoration: underline;
    }
    font-weight: 400;
    color: var(--green);
}
.blog-title {
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 400;
}
.short-content {
    color: #000;
}

.popup-item {
    & .blog-title {
        color: var(--dark);
        font-size: 12.5px;
        font-weight: 400;
    }
    &.post-date,
    & .author,
    & .short-content {
        font-size: 11px;
    }
}
