.wrapper {
    width: 100%;
    margin: 20px 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: var(--gray);
}

.active {
    background-color: var(--green-dark);
    color: rgb(219, 216, 216);
    pointer-events: none;
}
