@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Wix+Madefor+Text:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --primary: #fe2c55;

    --blue: #5488c7;
    --indigo: #6610f2;
    --purple: #613d7c;
    --pink: #ff5b77;
    --red: #f56c6c;
    --orange: #f25f43;
    --yellow: #e6a23c;
    --green: #7dc558;
    --green-low: #cef1bc;
    --green-dark: #1f5a01;
    --green-semi-dark: #256b01;
    --green-hover: rgba(96, 236, 103, 0.06);
    --teal: #8eb4cb;
    --cyan: #17a2b8;
    --white: #fff;
    font-weight: 200;
    --gray: #9b9b9b;
    --gray-white: #ececec;
    --gray-white-dark: rgb(219, 216, 216);
    --gray-dark: #494e53;
    --gray-dark-light: #606266;
    --primary: #5488c7;
    --secondary: #9b9b9b;
    --success: #67c23a;
    --info: #8eb4cb;
    --warning: #e6a23c;
    --danger: #f56c6c;
    --light: #f6f6f7;
    --dark: #0b1a33;

    //default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1140px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 70%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6ren;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabinex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--green);
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

//custom tippy
body {
    .tippy-box {
        background-color: var(--green);
        color: var(--white);
    }
    .tippy-arrow {
        // background-color: var(--green-hover);
        color: var(--green);
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 20px;
}
