.wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.info {
    display: block;
    align-items: center;
    padding: 10px 0;
    flex: 1;
    font-size: 1.1rem;
    &:hover {
        background-color: var(--green-hover);
    }
}
.name {
    display: inline-flex;
    align-items: center;

    .username {
        color: var(--gray);
        margin-left: 3px;
        // flex: 1;
    }
    .authorName {
        width: 100%;
        color: var(--dark);
    }
}
.avatar {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1.5px solid transparent;
    object-fit: cover;
}

.writes {
    color: var(--gray);
}
