.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--green-background);
    // border-image: linear-gradient(to right, #e9fde6, rgba(0, 0, 0, 0)) 1 100%;
    // border-image-slice: 1;
    // border-image-width: 100% 0 0 0;
}

.container {
    margin-top: var(--default-layout-header-height);
    width: var(--default-layout-width);
    min-height: calc(100vh - var(--default-layout-header-height) - var(--default-layout-footer-height));
    max-width: 100%;
    display: flex;
}

.sidebar {
    width: 300px;
    padding-left: 10px;
}

.banner {
    margin-top: var(--default-layout-header-height);
    width: 100%;
    object-fit: fill;
}

// .content {
//     // width: 840px;
//     min-height: calc(100vh - var(--default-layout-header-height) - var(--default-layout-footer-height));
// }

@media screen and (max-width: 1000px) {
    .content {
        width: 600px;
    }
    .container {
        width: 900px;
    }
}
@media screen and (max-width: 890px) {
    .sidebar {
        display: none;
    }
    .container {
        width: 600px;
    }
}
@media screen and (max-width: 610px) {
    .container {
        width: 400px;
    }
}
