.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--green-background);
}

.container {
    margin-top: var(--default-layout-header-height);
    margin-left: 12px;
    width: var(--default-layout-width);
    min-height: calc(100vh - var(--default-layout-header-height) * 2 - var(--default-layout-footer-height) - 30px);
    max-width: 100%;
    display: flex;
}

@media screen and (max-width: 1000px) {
    .content {
        width: 600px;
    }
    .container {
        width: 900px;
    }
}
@media screen and (max-width: 890px) {
    .sidebar {
        display: none;
    }
    .container {
        width: 600px;
    }
}
@media screen and (max-width: 610px) {
    .container {
        width: 400px;
    }
}
