.content {
    --general-width: 160px;
    width: var(--general-width);
    .menu-item {
        background-color: transparent;
        display: flex;
        align-items: left;
        justify-content: left;
        padding: 4px 4px;
        height: 36px;
        font-size: 1.3rem;
        width: var(--general-width);
        font-weight: 400;
        color: var(--gray);

        cursor: pointer;
        &:hover {
            background-color: var(--green-hover);
        }
    }
}

// Header
.header {
    position: relative;
    height: 30px;
    color: var(--gray);
    font-size: 1.3rem;
}

.back-btn {
    color: var(--gray);
    font-size: 1.3rem;
    width: 30px;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
}

.separate {
    border-top: 1px solid var(--gray-white);
    border-radius: 0;
}
