.wrapper {
    font-size: 1.2rem;
    border-left: 6px solid var(--green);
    padding-left: 10px;
    padding-bottom: 10px;
    border-image: linear-gradient(to right, var(--green), rgba(0, 0, 0, 0)) 1 100%;
    margin-bottom: 3px;
}

.author-info {
    display: flex;

    & .avatar {
        height: 40px;
        width: 40px;

        border-radius: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;
        border: 1.5px solid transparent;
        object-fit: cover;
    }
    & .author-name {
        margin-right: 4px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.content {
    font-size: 1.4rem;
    margin: 10px;
}

.option-bar {
    // margin-left: 10px;
    color: var(--gray);
    & .reply-btn {
        color: var(--green-semi-dark);
        border-left: 1px solid var(--gray);
        padding: 0 10px;
        margin-left: 10px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
    & span {
        padding: 4px;
    }
}
