.wrapper {
    padding-top: 30px;
}

.title {
    font-size: 2rem;
    width: 100%;
    background-color: var(--green-low);
    color: var(--green-dark);
    padding: 10px 10px;
}

.blog-item-wrapper {
    display: inline-flex;
    align-items: top;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid var(--green-low);
    border-left: 3px solid var(--green-low);
    font-size: 1.15rem;
}

.avatar {
    height: 40px;
    width: 40px;

    border-radius: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1.5px solid transparent;
    margin: 0 10px;
    object-fit: cover;
}
.info {
    margin-left: 10px;
}
.post-date {
    color: var(--gray);
    margin-left: 3px;
    // flex: 1;
}
.author {
    // width: 120px;
    font-weight: 400;
    color: var(--green);
}
.blog-title {
    width: 100%;
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 400;
}
