.wrapper {
    display: flex;
}

.content {
    width: 75%;
}

.sidebar {
    width: 25%;
}

.title {
    font-size: 2rem;
    background-color: var(--green-low);
    color: var(--green-dark);
    padding: 10px 10px;
}

.blog-item-wrapper {
    display: flex;
    align-items: top;
    padding: 10px 0;
    border-bottom: 1px solid var(--green-low);
    border-left: 3px solid var(--green-low);
    font-size: 1.15rem;
}

.avatar {
    height: 40px;
    width: 40px;

    border-radius: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1.5px solid transparent;
    margin: 0 10px;
    object-fit: cover;
}
.info {
    margin-left: 10px;
}
.post-date {
    color: var(--gray);
    margin-left: 3px;
    // flex: 1;
}
.author {
    &:hover {
        text-decoration: underline;
    }
    font-weight: 400;
    color: var(--green);
}
.blog-title {
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 400;
}

.short-content {
    color: black;
}

.blog-item {
    border-bottom: 1px solid var(--green-low);
    border-left: 3px solid var(--green-low);
}

@media screen and (max-width: 890px) {
    .sidebar {
        display: none;
    }
    .content {
        width: 100%;
    }
}
