.register-logo {
    font-size: 1.4rem;
    margin-top: 20px;
    margin-top: 10px;
    margin-bottom: calc((500px - 100vh) / 2);
}

.wrapper {
    --default-width: 500px;
    --default-padding: 42px;
    height: 500px;
    width: var(--default-width);
    margin: calc((100vh - 500px) / 2) calc((100vw - 500px) / 2);
    padding: var(--default-padding);
    font-size: 1.4rem;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box; // background-image: linear-gradient(to bottom, #ffffff, #f7f7f7, #eeeded);
}

.logo {
    & img {
        object-fit: contain;
        height: 60px;
        width: 100%;
    }
    & h4 {
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
        color: var(--green-semi-dark);
    }
}

.user-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    & .name {
        width: calc(var(--default-width) - var(--default-padding) * 2 - 140px);
    }
    & .gender {
        display: inline-flex;
        align-items: center;
        color: var(--gray);
        height: 40px;
        width: 120px;
        padding: 5px;
        border: 1px solid var(--gray-white);
        border-radius: 5px;
        background-color: var(--green-hover);
        caret-color: var(--green);

        & select {
            width: calc(100% - 25px);
            margin-left: 8px;
            height: 40px;
            background-color: transparent;
            border: none;
        }
    }
}

.email,
.username {
    width: calc(var(--default-width) - var(--default-padding) * 2);
    margin-bottom: 12px;
}

.password {
    width: calc(var(--default-width) - var(--default-padding) * 2);
    display: flex;
    justify-content: space-between;
    & .password,
    .confirm-password {
        width: calc((var(--default-width) - var(--default-padding) * 2) / 2 - 10px);
        margin-bottom: 10px;
    }
}

.login-icon {
    border-right: 1px solid var(--gray-white);
    border-radius: 0;
}

.submit-btn {
    margin-top: 20px;
    width: calc(var(--default-width) - var(--default-padding) * 2);
}

.navigate {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: calc(var(--default-width) - var(--default-padding) * 2);
    height: 30px;
    // font-size: 1.2rem;
    & span {
        color: var(--green-semi-dark);
        &:hover {
            color: var(--green);
        }
    }

    & .term {
        display: inline-flex;
        align-items: center;
        width: fit-content;

        & input {
            margin-right: 8px;
        }
    }
}

.login-as-lbl {
    margin: 20px 0;
    display: flex;
    align-items: center;
    width: calc(var(--default-width) - var(--default-padding) * 2);
    color: var(--gray-dark);
    font-weight: 400;
    & p {
        min-width: 100px;
        text-align: center;
    }

    & hr {
        color: var(--gray);
    }
}
.login-as-btn {
    width: calc(var(--default-width) - var(--default-padding) * 2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
